<div class="card animated fadeIn">
        <div class="card-content" [ngClass]="goal?.status">
                <span class="card-title">
                        {{goal?.title}}
                </span>
                <a class="btn-floating halfway-fab waves-effect waves-light teal edit" *ngIf="!showConfirmationDrawer">
                        <i class="material-icons" (click)="editGoal();">edit</i>
                </a>
                <a class="btn-floating halfway-fab waves-effect waves-light red delete" *ngIf="!showConfirmationDrawer">
                        <i class="material-icons" (click)="deleteGoal();">delete</i>
                </a>
        </div>
        <cockpit-delete-confirmation *ngIf="showConfirmationDrawer" (confirm)="deleteGoalConfirmed($event)" (cancel)="deleteGoalCancel($event)">

        </cockpit-delete-confirmation>

        
</div>