<div class="card animated zoomIn">
        <div class="card-content" [ngClass]="goal?.status">
                <span class="card-title">
                        {{goal?.title}}
                </span>
                <a class="btn-floating halfway-fab waves-effect waves-light teal edit">
                        <i class="material-icons">edit</i>
                </a>
                <a class="btn-floating halfway-fab waves-effect waves-light red delete">
                        <i class="material-icons">delete</i>
                </a>
        </div>
</div>