<div class="col m12 l6 list-wrapper">
        <div class="row quarter-container">
                <div class="container-header">
                        <h4 class="quarter-number">Quarter {{quarterNumber}}</h4>
                </div>
                <cockpit-quick-add (quickAdd)="goalAdded($event)"></cockpit-quick-add>
                <div class="col s12 m12 goal-list-container" *ngIf="goals?.length > 0" malihuCustomScroller [scrollOptions]=" {theme: 'dark-thick',axis: 'y'}">
                        <cockpit-goal-details *ngFor="let goal of goals;trackBy: goal?.id" (goalDelete)="deleteGoal($event)" [goal]="goal"></cockpit-goal-details>
                </div>
                <div class="col s12 m12 goal-list-container" *ngIf="isLoading">
                        <cockpit-loader></cockpit-loader>
                </div>
                <div class="col s12 m12 goal-list-container" *ngIf="goals?.length == 0 && !isLoading">
                        <label class="no-goals">You haven't added any Goal yet. Please add Goal</label>
                </div>
        </div>