/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
}
#content
{
        width: 100%;
        padding: 82px 0px 49px 0;
        margin: 0;
        height: 100%;
        font-size: 1em;
        position: relative;
        transition: all 0.25s ease;
}
.mCSB_container_wrapper
{
        margin-right: 0;
        > .mCSB_container
        {
                padding-right: 10px;
        }
}

.mCSB_inside > .mCSB_container
{
        padding-left: 10px;
            margin-right: 10px;
}

// .modal-overlay
// {
//         display: none!important;
// }

.modal .modal-footer
{
        display: none!important;
}